body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-color: #dbdbdb;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #701053;
  padding: 3px 0;
  position: relative;
}

header .logo img {
  height: 50px;
}

.header-list ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.header-list ul li {
  text-align: center;
  margin: 0 15px;
}

.header-list ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

.header-list ul li a:hover{
  color: rgb(0, 229, 255);
}


.menu-icon {
  display: none;
  cursor: pointer;
  margin-right: 10px;
}
.menu-icon img {
  width: 30px;
}



@media (max-width: 900px) {
  header{
    justify-content: space-between;
  }
  .header-list {
      display: none;
  }
  .menu-icon {
      display: block;

  }
  .menu-icon:hover + .header-list,
  .header-list:hover {
    display: block;
    position: absolute;
    top: 50px;
    background-color: rgb(4, 32, 45);
    text-align: center;
    overflow-x: hidden;
    z-index: 100;
  }
  .header-list ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    gap: 10px;
  }

  .header-list li {
    margin: 10px 10px;
    flex: 1 0 45%;
  }
  .header-list ul li a {
    color: rgb(255, 255, 255);
  }
  .container1, .container2{
    flex-direction: column;
    align-items: center;
  }
  .services-links{
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .services-links a{
    text-align: center;
    min-width: 200px;
  }
}
.main-images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 350px;
  overflow: hidden;
  margin: 20px 0;
  position: relative;
}

.main-images img {
  display: none;
  max-width: 100%;
}

.main-images img.active {
  display: block;
}

.important-links {
  position: absolute;
  top: 30px;
  left: 10px;
}
.important-links p{
  position: absolute;
  margin: auto;
  padding: 10px 20px;
  background-color: #ddd;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 50px;
}

.important-links ul {
  margin-top: 50px;
  padding: 0;
  list-style-type: none;
}

.important-links ul li {
  margin-bottom: 10px;
  text-align: center;
}

.important-links ul li a {
  text-decoration: none;
  color: rgba(255, 255, 0, 0.902);
}

.important-links ul li a:hover{
  background-color: #dcfaff;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}


.search-bar {
  position: absolute;
  top: 15px;
  right: 90px;
}
.search-bar p{
  padding: 10px 20px;
  background-color: #ddd;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 50px;
}
.search-bar form input{
  position: absolute;
  padding: 7px;
  border: none;
  border-radius: 10px;
  outline: none;
}
.search-bar form button{
  position: absolute;
  left: 180px;
  font-size: 19px;
  background-color: #3eff6e;
  color: #000000;
  text-decoration: none;
  border: none;
  padding: 4.5px 15px;
  border-radius: 50px;
  transition: background-color 0.3s, color 0.3s;
}
.search-bar form button:hover{
  background-color: #0f0b23;
  color: #ffffff;
}

@media (max-width: 640px){
  .main-images{
    position: relative;
  }
  .important-links{
    position: absolute;
    top: 70px;
    left: 5px;
  }
  .search-bar{
    position: absolute;
    top: 55px;
    right: 5px;
  }
  .search-bar form input{
    position: absolute;
    top: 68px;
    right: 5px;
  }
  .search-bar form button{
    position: absolute;
    top: 110px;
    left: 90px;
  }
}

.services-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.services-links a {
  display: inline-block;
  margin: 0 15px;
  padding: 10px 20px;
  background-color: #158722;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px;
}
.services-links a:hover {
  background-color: #4cbcf4;
  color: rgb(0, 0, 0);
}


.container1, .container2 {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.box {
  background-color: #dbf1ff;
  margin: 20px 20px;
  border-radius: 8px;
  width: 400px;
  height: 400px;
}
.notice-section h2{
  color: #ff0000;
  text-align: center;
  text-decoration: underline;
}
.notice-section h3{
  text-align: center;
  color: #322358;
}
.notice-section p{
  color: #000000;
  padding: 5px 15px;
  text-align: justify;
}

.news-feed h2{
  color: #333;
  text-align: center;
}

.news-feed ul {
  margin: 10px;
}

.news-feed ul li {
  margin-top: 10px;
  padding: 2px;
}
.news-feed ul li::marker{
color: #ff0000;
}

.news-feed ul li a {
  text-decoration: none;
  color: #333;
}

.news-feed ul li a:hover {
  background-color: #ffffff;
  border-radius: 5px;
}
.time-table h2{
  color: #000000;
  text-align: center;
  text-decoration: underline;
}
.time-table p{
  color: #000000;
  padding: 5px 15px;
  text-align: justify;
}
.train-cancel h2{
  color: #000000;
  text-align: center;
}
.train-cancel p{
  padding: 5px 15px;
  text-align: justify;
  color: #000000;
}


.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pagination a {
  margin: 0 5px;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  padding: 10px 15px;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.pagination a:hover {
  background-color: #f1b6fc;
  color: #000000;
}

.pagination .active {
  background-color: #00ff59;
  color: rgb(0, 0, 0);
}


footer {
  background-color: #701053;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 5px 0;
  width: 100%;
}

/* About Us */

.about-us-container {
  margin: 20px auto;
  padding: 20px 0;
  max-width: 800px;
  text-align: left;
  background-color:rgb(224, 253, 221);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-us-container h1 {
  text-align: center;
  color: #333;
}

.about-us-container p {
  margin: 10px 50px 20px 50px;
  line-height: 1.6;
  color: #555;
}

.home-button {
  display: block;
  width: 150px;
  margin: 20px auto;
  padding: 10px 20px;
  text-align: center;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #4cbcf4;
  color: rgb(0, 0, 0);
}

/* Our Services*/

.our-services-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  text-align: left;
  background-color:rgb(224, 253, 221);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.our-services-container h1 {
  text-align: center;
  color: #333;
}

.services-list {
  padding: 0;
}

.services-list li {
  margin: 10px 70px 15px;
}
.services-list li::marker{
  color: #ff0000;
}

.services-list li a {
  text-decoration: none;
  color: #333;
}

.services-list li a:hover {
  background-color: #dee2ff;
}

.home-button {
  display: block;
  width: 150px;
  margin: 20px auto;
  padding: 10px 20px;
  text-align: center;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #4cbcf4;
  color: rgb(0, 0, 0);
}

/* Downloads*/

.downloads-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  text-align: left;
  background-color:rgb(224, 253, 221);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.downloads-container h1 {
  text-align: center;
  color: #333;
}

.downloads-list {
  margin: 20px 20px 20px;
}

.downloads-list li {
  margin-bottom: 10px;
}
.downloads-list li::marker {
  color: red;
}

.downloads-list li a {
  text-decoration: none;
  color: #333;
}

.downloads-list li a:hover {
  background-color: #dee2ff;
}

.home-button {
  display: block;
  width: 150px;
  margin: 20px auto;
  padding: 10px 20px;
  text-align: center;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #4cbcf4;
  color: rgb(0, 0, 0);
}


/* Contact Us*/

.contact-us-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  text-align: left;
  background-color:rgb(224, 253, 221);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-us-container h1 {
  text-align: center;
  color: #333;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  margin: 10px 50px 15px 30px;
}

.contact-details, .station-details {
  width: auto;
}

.contact-details p, .station-details p {
  margin-bottom: 10px;
  color: #06432d;
}
.contact-details h2, .station-details h2{
  color: #b32828;
  text-decoration: underline;
}

.home-button {
  display: block;
  width: 150px;
  margin: 20px auto;
  padding: 10px 20px;
  text-align: center;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #4cbcf4;
  color: rgb(0, 0, 0);
}
